@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css); /* todo */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* temporary  */

/* unclickable buttons! */ 
.join .btn:hover {
  background-color: var(--lorange)
}

/* main */

:root { /* color scheme */
  --dgrey: #252326;
  --lgrey: #ededed;
  --green: #0C760A;
  --lgreen: #7FB78F;
  --orange: #E69906;
  --lorange: #E3C699;
  --container-width: 1100px;
}

* {
  box-sizing: border-box; 
  margin: 0;
}

html, body {
  padding: 0em; 
  background-color: #fff;
  font: 16px Montserrat;
  width: 100%;
  height: 100%;
}

p {
  padding: .7em 0;
  color: var(--dgrey);
  line-height: 1.3em;
}

a {
  text-decoration: none;
  color: var(--dgrey);
}

ul {
  padding: 0;
  color: var(--dgrey);
}

li {
  display: flex;
  margin: 1.3em 0; 
  line-height: 1.3em;
}

input {
  font-size: 100%;
}

h1, h2 {
  font-size: 225%;
  font-weight: 500; 
  font-style: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em; 
  color: var(--dgrey);
}

h3 {
  color: var(--lorange);
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  font-weight: normal;
  color: var(--dgrey);
}

/* utilities */

.btn {
  margin-top: .7em;
	padding: 0.7em 1.3em;
  background-color: var(--orange);
  border-radius: .4em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  opacity: 1;
  color: white;
  transition: all 0.5s;
  border: 1px solid rgba(0, 0, 0, .2);	
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\f061'; /* right arrow */
  position: absolute;
  opacity: 0;
  top: 0;
  right: 1.3em;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 1.5em;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

a.btn {
	display: inline-block;
}

button.btn {
  display: block;
}

/* check animation (applied in logo, hero, .features and app page) */ 

.icon {
  display: block;
  min-width: 1.62em; 
  height: 1.62em;
  border-radius: 0.36em;
  background-color: var(--dgrey);
}

.check-div1, .check-div2 {
  position: absolute;
}

.check-div1 {
  margin: 0.82em 0 0 0.136em;
  transform: rotate(45deg);
}

.check-div2 {
  margin: 0.545em 0 0 0.552em;
  transform: rotate(-45deg);
}

.unchecked .check-span1, .unchecked .check-span2 {
  display: none;
}

.check-span1, .check-span2 {
  float: left;
  height: 0.363em;
  transform: scaleX(0);
}

.check-span1 {
  width: 0.727em;
  border-radius: .1em 0 .1em .1em;
  animation: check ease-in .3s 0s forwards; 
}

.check-span2 {
  width: 0.955em;
  border-radius: 0 .1em .1em 0;
  animation: check ease-out .4s .3s forwards; 
}

.check2-color {
  background-color: var(--lorange);
}

/* cross animation */

.cross-div1, .cross-div2 {
  position: absolute;
  margin: .68em 0 0 0.05em;
}

.cross-div1 {
  transform: rotate(45deg);
}

.cross-div2 {
  transform: rotate(135deg);
}

.cross-span1, .cross-span2 {
  float: left;
  width: 1.55em;
  height: .3em;
  border-radius: 0.1em;
  transform: scaleX(0);
}

.cross-span1 {
  animation: check ease-in 0.25s 0.1s forwards; 
}

.cross-span2 {
  animation: check ease-out 0.25s 0.4s forwards; 
}

.cross-color {
  background-color: var(--lgrey); 
}

/* animates check and cross icons */ 
@keyframes check {
  from {
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }
  to {
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}

/* mobile splash screen */

#splash {
  display: none;
}

@media only screen and (max-width: 600px) {
  #splash {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: var(--lgrey);  
    animation: moment-on 0s linear 1.5s forwards;
  }
  
  #splash .logo-wrapper {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
  }
}


@keyframes moment-on {
  to {transform: scale(0)}
}

@keyframes moment-off {
  from {opacity: 0;} 
  to {opacity: 1;}
}

/* pages */ 

.wrapper {
  min-height: 85%;  
}

.wrapper > * {
  flex: 1 100%;
  animation: moment-off 0s linear 1.5s forwards;
}

/* logo */

.logo {
  background-color: var(--lgrey);
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
}

.logo-wrapper {
  position: relative;
}

.logo-wrapper svg {
  margin-top: 0px;
}

.logo-wrapper:hover .check-span1, .logo-wrapper:hover .check-span2 {
  background: var(--green);
}

.logo-check {
  position: relative;
  width: 36px;
  height: 30px;
  float: right; 
  right: -13px;
  font-size: 130%;
}

.logo-check .check-span1, .logo-check .check-span2 {
  background-color: var(--orange);
  transition: ease-in-out, background-color 500ms ease-in-out;
}

@media only screen and (max-width: 600px) {
  .app-logo {
    display: none;
  }
}


/* hero */ 

.hero {
  background-color: var(--lgrey);
}

.hero-wrapper {
  position: relative;
  max-width: var(--container-width);
  display: block;
  padding-top: 60px;
  margin: auto;
  margin-bottom: 140px;
  height: 850px;
}

.hero-img1, .hero-img2 {
  background-color: #828282;
  display: block;
  position: absolute;
  border-radius: 1.25em;
  height: 400px;
  width: 40%;
  border: 1px solid rgba(0, 0, 0, .2);
}

.hero-img1 {
  background-image: url(img/hero-img1-plant.jpg);
  background-position: left center;
}

.hero-img2 {
  right: 0;
  bottom: 140px;
  background-image: url(img/hero-img2-plant.jpg); 
  background-position: 35% center;
}


.hero-content {
  position: relative;
  border-radius: 1.25em;
  width: 60%;
  z-index: 2;
  background-color: #fff;
  padding: 40px 60px 50px 60px;
  margin: 0 auto;
  transform: translateY(22%);
  border: 1px solid rgba(0, 0, 0, .2);
}

.hero-content .demo {
  display: flex;
}

.demo-icon {
  background-color: var(--lorange);
  font-size: 60%;
  margin: .35em 1em 0 0; 
}

.hero-content .check-color {
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  .hero-wrapper {
    height: auto;
    margin-bottom: 80px;
  }

	.hero-img1 {
		display: none;
  }
  .hero-wrapper {
    display: flex; 
    flex-direction: column;
  }
	.hero-content {
    position: relative;
    width: 90%;
    transform: translateY(0%);
    margin: auto auto 100px auto;
    padding: 30px;
	}
	.hero-img2 {
    position: relative;
    width: 90%;
    height: 250px;
    margin: auto auto 30px auto;
    transform: translateY(25%);
	}
}

/* All main sections */ 

.problem, .features, .welcome, .join {
  max-width: var(--container-width);
  margin: 0 auto 140px auto;
  display: flex; 
  position: relative;
  height: 100%;
}

.problem-content, .features-content, .welcome-content, .join-content {
  position: relative;
  display: block;
  width: 72%;
  border-radius: 1.25em;
  border: 1px solid rgba(0, 0, 0, .2);
  margin: 0px;
  float: left;
}

.problem-content, .welcome-content {
  background: var(--lgrey);
  padding: 40px 180px 50px 60px;
}

.features-content, .join-content {
  margin-left: 28%; 
  background: var(--lorange);
  padding: 40px 60px 50px 180px;
}

.problem-img, .welcome-img, .features-img, .join-img {
  background-color: #828282;
  position: absolute;
  width: 50%;
  height: 100%;  
  z-index: 2;
  border-radius: 1.25em;
  background-repeat: no-repeat;
  transform: scale(0.75);
  border: 1px solid rgba(0, 0, 0, .2);	
}

.problem-img, .welcome-img {
  right: 0;
  transform-origin: 100% 50%;
  /*transform: scale(0.75); */
}

.features-img, .join-img {
  transform-origin: 0% 50%;
  /*transform: scale(0.75); */
}

.problem .icon, .features .icon {
  margin: 8px 15px auto 1px;
}

.hero-flower1 {
  background-image: url(img/hero-img1-flower.jpg);
  background-position: right center;
}

.hero-flower2 {
  background-image: url(img/hero-img2-flower.jpg);
}

/* Problem */

.problem-img {  
  background-image: url(img/problem-plant.jpg);
  background-position: center center;
}

.problem-flower {
  background-image: url(img/problem-flower.jpg);
}

@media only screen and (max-width: 1000px) {
  .problem-img {
    background-position: center 40%;
    /*transform: scale(0.75); */
  }
  .problem-flower {
    background-position: center 40%;
    background-size: 100%;
  }
}


/* features */

.features-img {
  background-image: url(img/features-plant.jpg);
  background-position: center 75%;
}

.features-flower {
  background-image: url(img/features-flower.jpg);
}

@media only screen and (max-width: 1000px) {
  .features-flower {
    background-position: center center;
    background-size: 100%;
  }
}


/* definition */ 

.definition {
  display: flex;
  background-color: var(--lgreen);
  font-size: 140%;
  margin-bottom: 140px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.definition i.fas {
  position: absolute;
  font-size: 12em;
  color: #A3D7B1;
  text-align: left;
  margin-left: -550px;
  margin-top: -100px;
}

.definition-content {
  max-width: var(--container-width);
  margin: 120px auto 70px auto;
  text-align: center; 
}

.definition-content > .translation {
  line-height: 1.8em; 
  color: var(--lgrey);
}

@media only screen and (max-width: 1000px) {
  .definition {
    margin-bottom: 80px; 
  }
  .definition-content {
    width: 100%;
    margin: 50px auto;
  }
  .definition i.fas {
    display: none;
  }
}

/* welcome */ 

.welcome-img {
  background-image: url(img/welcome-plant.jpg); /* 7gUdXVJEnOo/1080x1620); */
  background-position: center bottom;
}

.welcome-flower {
  background-image: url(img/welcome-flower.jpg);
  background-position: center;
}

@media only screen and (max-width: 1000px) {
  .welcome-img {
    background-size: 100%;
  }

  .welcome-flower {
    background-position: 65% 34%;
  }
}


/* join */

.join-img {
  background-image: none;
  background-repeat: no-repeat;
  background-color: var(--lgrey);
  background-position: center;
}

.join input, .login input {
  padding: 12px 20px;
  width: 300px;
  margin: 15px 0;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background-color: var(--lgrey);
  color: var(--dgrey);
  border-radius: 8px;
  font-style: italic; 
}

.join input:focus, .login input:focus {
  background-color: white;
  outline: none;
}

.join i.fas, .login i.fas {
  margin-left: -28px;
  color: var(--dgrey);
}

@media only screen and (max-width: 1000px) {
  .problem, .features, .welcome, .join {
    flex-direction: column;
    margin-bottom: 75px;
  }
  .problem-content, .features-content, .welcome-content, .join-content {
    position: relative;
    width: 90%; 
    padding: 80px 20px 30px 20px;
    margin: 180px auto auto auto;
  }
  .problem-img, .features-img, .welcome-img, .join-img {
    width: 100%;
    height: 300px;
    top: 0;
    right: 0;
    width: 100%;
    transform-origin: 50% 0%;
    transform: scale(0.75);
  }
}


/* footer styles */

.footer {
  display: flex;
  background: var(--dgrey);
  min-height: 15%;
}


.footer-content {
  margin: 20px auto 30px auto;
  text-align: center;
  color: var(--lgrey);
}

.footer-content p {
  font-size: 70%;
  text-transform: uppercase;
  color: #828282;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer .logo-wrapper {
  transform: scale(0.7);
  filter: grayscale(100%);
  background-color: transparent;
  display: block;
}

.footer .check-span1, .footer .check-span2  {
  background-color: #ffffff;
}

.footer-content a:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 600px) {
  .footer-content {
    margin: 40px auto 60px auto;
  }
  .footer .logo-wrapper {
    display: none;
  }
}