
.list h1 {
    font-size: 22px;
    font-weight: bolder;
}

.list h1 i {
    font-size: 15px;
    margin-left: 13px;
    color: grey;
}

.add-area, .place-area, .task {
    background-color: #ffffff;
    text-align: center;
    margin: 18px auto;
}

.place-area {
    background-color: transparent;
    border: 1px dashed grey;
    font-size: .9em;
    padding: 6px;
}