.input-area {
    background-color: white;
    border: 1px dotted grey;
    padding: 12px 16px;
    margin: 18px auto;
}
 
 /* Customize the label (the container) */
 .container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    min-width: 15.5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #a79b8e;
    border-radius: 50%;
    border: 3px solid transparent;
    opacity: 0.7;
}

/* When the radio button is checked, add a blue background */
.container .checkmark-cat1 { background-color: #d81b60 }
.container .checkmark-cat2 { background-color: #c0ca33 }
.container .checkmark-cat3 { background-color: #a79b8e }
.container .checkmark-cat4 { background-color: #0b8043}
.container .checkmark-cat5 { background-color: #9e69af}
.container .checkmark-cat6 { background-color: #f6bf26}

.container input:checked ~ .checkmark { 
    opacity: 1;
}

/* input head */

.input-head {
    display: flex;
    justify-content: space-between;
}

.close-input {
    color: grey;
    padding: 3px 3px 0 6px;
}

.close-input:hover {
    color: red;
    cursor: pointer;
}

.selected-category {
    width: 91px;
    height: 10px;
    border-radius: 6px;
    margin: 12px 0 10px 0;
    background-color: #a79b8e;
    opacity: .9;
}

/* text input */


.input-area input[type="text"] {
    padding: 4px 0px; 
    border: none;
    outline: none; 
    font-size: 18px;
    font-weight: 500;
    color: black;
    width: 75%;
}

.input-area button[type="submit"] {
    display: inline-block;
    background: grey;
    padding: 6px 8px;
    margin: 0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    float: right;
}
.input-area button[type="submit"]:hover {
    cursor: pointer;
}
